.project
.cproject
/*.aux
/*.bbl
/*.blg
/*.log
/*.synctex.gz
/*~
/*.bak
/*.exe
/*.o
/Debug
/*.dvi
/tmp/
/*.tmp
/*.run.xml
/*.bcf
/*-blx.bib
/Programs/*~
/*/*.sav
/*/*.synctex.gz
/*/*.bak
/*/*.aux
/*/*.bbl
/*/*.blg
/*/*.log
/*/*.run.xml
/*/*.bcf
/tmp/*/
/*.sav
/*/prop.pdf
/*/summary.pdf
/*/fac.pdf
/*/collab.pdf
/prop.pdf
/Rethinking Foundations of Physics 2017/application.pdf
/*/*~
/prop.iop.pdf
/real_frame_2-eps-converted-to.pdf
/real_frame_1-eps-converted-to.pdf
/measure3_1-eps-converted-to.pdf
/measure4-eps-converted-to.pdf
/measure3-eps-converted-to.pdf
/prop_iop.pdf
/figure1-eps-converted-to.pdf
/figure2-eps-converted-to.pdf
/figure3-eps-converted-to.pdf
/figureb1-eps-converted-to.pdf
/figureb2-eps-converted-to.pdf
