.project
.cproject
/*.aux
/*.bbl
/*.blg
/*.log
/*.synctex.gz
/*~
/*.bak
/*.exe
/*.o
/Debug
/*.dvi
/tmp/
/*.tmp
/*.run.xml
/*.bcf
/*-blx.bib
/Programs/*~
/*/*.sav
/*/*.synctex.gz
/*/*.bak
/*/*.aux
/*/*.bbl
/*/*.blg
/*/*.log
/*/*.run.xml
/*/*.bcf
/tmp/*/
/*.sav
/*/prop.pdf
/*/summary.pdf
/*/fac.pdf
/*/collab.pdf
/prop.pdf
/Rethinking Foundations of Physics 2017/application.pdf
/*/*~
/prop.iop.pdf
/real_frame_2-eps-converted-to.pdf
/real_frame_1-eps-converted-to.pdf
/measure3_1-eps-converted-to.pdf
/measure4-eps-converted-to.pdf
/measure3-eps-converted-to.pdf
/prop_iop.pdf
/figure1-eps-converted-to.pdf
/figure2-eps-converted-to.pdf
/figure3-eps-converted-to.pdf
/figureb1-eps-converted-to.pdf
/figureb2-eps-converted-to.pdf
/core.pdf
/figureE1-eps-converted-to.pdf
/figure2_1-eps-converted-to.pdf
/prop_letter.pdf
/prop_iop.toc
/prop_letterNotes.bib
/prop_letter.brf
/Reference/W. Gerlach, O. Stern, Der experimentelle Nachweis der Richtungsquantelung im Magnetfeld.Translation.pdf
/Kochen-Specker Theorem in QIVPM.pdf
/prop_letter_pptx.pdf
/prop_short.pdf
/figure1.pdf
/figure2_1.pdf
/figureb1.pdf
/figureb2.pdf
/figureE1.pdf
/Pages from prop_iop.pdf
/prop_PRA.out
/prop_PRA.pdf
/prop_PRANotes.bib
/prop_letter_ajh.pdf
/prop_letter_ajhNotes.bib
/prop_letter_ajhs.pdf
/prop_letter_ajhsNotes.bib
/dissertation.pdf
/prop_letter_ajhs_referee_response.pdf
/prop_letter_ajhs_referee_responseNotes.bib
/prop_letter_ajhs_referee_response.out
/reply.pdf
/prop_letter_ajhs_referee_proof.pdf
/prop_letter_ajhs_referee_response.pptx
/prop_letter_ajhs_referee_response_pptx.pdf
/revised_prop_letter_ajhsNotes.bib
/revised_prop_letter_ajhs.pdf
/*.toc
/*.out
